klass-forvaltning/src/main/resources/static/schemas/correspondenceTable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://klass.ssb.no/correspondenceTable"
           elementFormDefault="qualified">
    <xs:element name="Korrespondansetabell">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Korrespondanse" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="kilde_kode"/>
                            <xs:element type="xs:string" name="kilde_tittel"/>
                            <xs:element type="xs:string" name="mål_kode"/>
                            <xs:element type="xs:string" name="mål_tittel"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
