klass-forvaltning/src/main/resources/static/schemas/version.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://klass.ssb.no/version"
           elementFormDefault="qualified">
    <xs:element name="versjon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="element" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kode" type="xs:string"/>
                            <xs:element name="forelder" type="xs:string"/>
                            <xs:element name="navn_bokmål" type="xs:string"/>
                            <xs:element name="navn_nynorsk" type="xs:string"/>
                            <xs:element name="navn_engelsk" type="xs:string"/>
                            <xs:element name="kortnavn_bokmål" type="xs:string"/>
                            <xs:element name="kortnavn_nynorsk" type="xs:string"/>
                            <xs:element name="kortnavn_engelsk" type="xs:string"/>
                            <xs:element name="noter_bokmål" type="xs:string"/>
                            <xs:element name="noter_nynorsk" type="xs:string"/>
                            <xs:element name="noter_engelsk" type="xs:string"/>
                            <xs:element name="gyldig_fra" type="xs:string"/>
                            <xs:element name="gyldig_til" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
